#output{
    width: 50%;
    height: 14vh;
    margin: auto;
    padding: 1rem;
    background: white;
    border: 1px solid black;
}
h1{
    text-align: center;
    color: white;
}
button{
    text-align: center;
    padding: 0.5rem;
    width: 15vh;
    margin: auto;
    
}
#text-input{
    text-align: center;
    padding: 1.5rem 1rem 1rem;
    margin: auto;
    width: 50%;
    height: 15vh;
    background-color: rgb(255, 255, 255);
  

}
section{
    text-align: center;
}
.list-non-bullets{
    list-style: none;
}
body{
    background-color:black;
}
